/* Nav bar style f */
.banner {
    display: flex;
    margin: 0px 150px;
    gap: 100px;
}

header {
    width: 1800px;
    height: 900px;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between
}

.flower-header {
    margin-top: 20px;
}

.banner-content {
    margin-top: 170px;
}

.banner-tittle {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.banner-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    margin-left: 300px;

    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
    margin-bottom: 150px;
}

.flower-header {
    width: 635px;
    background: url, lightgray 50% / cover no-repeat;

}

/* command shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

/* main style */

main {
    width: 1800px;
    height: 3900px;
    background: #FFF;
}

.section-1-tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 175px;
}

.section-1-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.first-1 {
    display: grid;
    grid-template-columns: auto auto auto;

}

.first-2 {
    background: rgba(39, 39, 39, 0.05);
    width: 464px;
    height: 538px;
    border-radius: 8px;
    border-radius: 300px 300px 0px 0px;
    margin-top: 48px;
    margin-left: 170px;
    text-align: center;
    text-decoration: underline;

    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

.a-1 {
    margin-top: 110px;
    margin-right: 78px;
    margin-left: 78px;
}

.first-3 {
    width: 464px;
    height: 538px;
    border-radius: 8px;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin-top: 48px;

    text-align: center;
    text-decoration: underline;

    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

.a-2 {
    margin-top: 117px;
    margin-right: 46px;
    margin-bottom: 50px;
    margin-left: 46px;
}

.first-4 {
    width: 464px;
    height: 538px;
    border-radius: 8px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin-top: 48px;
    margin-right: 180px;
    text-align: center;
    text-decoration: underline;

    color: #272727;
    font-size: 24px;
    font-weight: 700;
}


.a-3 {
    margin-top: 67px;
    margin-right: 75px;
    margin-bottom: 0px;
    margin-left: 75px;
}

/* section 2 style */
.section-2-a {
    display: flex;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 128px 170px;
}

.section-2-b {
    width: 88px;
    height: 88px;
    margin-left: 317px;
    margin-top: 86px;
    margin-bottom: 128px;
}

.section-2-c {
    margin-left: 300px;
    margin-top: 86px;
    margin-bottom: 128px;
}

.section-2-d {
    margin-left: 230px;
    margin-top: 86px;
    margin-bottom: 128px;
}

/* section 3 */

.section-3 {
    display: flex;
    width: 1800px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.section-3-tittle {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-left: 300px;
    margin-top: 200px;
    margin-bottom: 20px;

}

.section-3-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-left: 300px;
    margin-top: 0px;
    margin-bottom: 35px;
}

.span-tittle {
    color: #E55473;
}

.section-3-f {
    width: 318px;
    height: 420px;
    margin: 100px 300px;
}

/* section 4 style */

.section-4-tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;

}

.section-4-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}

.pic-1 {
    margin-left: 200px;
    margin-top: 45px;
    margin-right: 24px;
}

.pic-2 {
    margin-right: 24px;
}

.pic-3 {
    margin-right: 24px;
}

.pic-4 {
    margin-right: px;
    border-radius: 10px;
}

/* section 5 style */

.section-5 {
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background: url('../Flower\ Asset/Rectangle 9.png'), no-repeat;
    margin: 128px 240px;


}

.section-5-tittle {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 250px;
    margin-left: 550px;


}

.section-5-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-left: 600px;
}

.email {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-right: 500px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 300px;
    margin-top: 60px;
    border: none;
}

.btn-primary-1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 30px;
    margin-left: 16px;

    border-radius: 8px;
    background: #E55473;
    border: none;
}

/* section 6 style */
.section-6 {
    background: #8a3749;
}

.section-6-tittle {
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
    margin-left: 550px;
}

.section-6-des {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 500px;
}

.pic-g {
    width: 900px;
    height: 400px;
    margin-left: 300px;
}

/* footer style */

.footer {
    width: 1800px;
    height: 449px;
    background: #111010;
}

.footer-tittle {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-top: 128px;
    margin-left: 800px;
}

.footer-des {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin-left: 630px;
    margin-bottom: 25px;
}

.footer-des-1 {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 130px;
    margin-left: 770px;
}

.footer-span {
    color:#FFFFFF
}